@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');
@import "imports/variables";
@import "imports/fonts-local";
@import "imports/mixins";
@import "imports/elements";
@import "imports/structure";
@import "imports/pullquote";
@import "imports/footnotes";
@import "imports/sidebyside";
@import "imports/meta";
@import "imports/article-body";
@import "imports/tables";
@import "imports/figures";
@import "imports/aside";
@import "imports/byline";
@import "imports/popovers";
@import "imports/previous-next-links";
@import "imports/quick-take";
@import "imports/svg";
@import "imports/toc";
@import "imports/timeline";
@import "imports/multipart-list";

@import "imports/multimedia";
@import "imports/related-research";

html.zoomed {
  font-size: 120%;
}

// global ratings > all three components

$sidebar: rgba(229,248,255,05);

.ratings {
  > ul {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 0;
  }
  .datum {
    grid-area: company;
    font-weight: 500;
    color: #444;
    font-size: 0.875rem;
    line-height: 1.3;
  }
  .rating {
    grid-area: rating;
    font-size: 0.875rem;
    text-align: right;
  }
  .status {
    grid-area: status;
    font-size: 0.75rem;
    color: #666;
    grid-column: 1 / span 2;
    text-align: right;
  }
  button {
    background-color: $link;
    color: #fff;
    padding: 0.35rem;
    border-radius: 3px;
    border: none;
    font-weight: 700;
  }
}

// data-block
.data-block {
  ul {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "company rating"
      "company status";
  }
  ul.price-target {
    grid-template-areas:
    "company rating"
    "status status";
  }
  li.sources {
    display: block;
    font-size: 0.75rem;
  }
  ul:nth-child(n+4){
    opacity: 1;
    max-height: 300px;
    grid-template-rows: auto;
  }
  ul:nth-child(4),
  ul:nth-child(7),
  ul:nth-child(16) {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px dashed #999;
  }
}
// when the company data is displayed
.stats {
  grid-column: 1/3;
}
.stats .data-block {
  display: none;
  padding-bottom: 1rem;
}
.stats__open .data-block {
  display: block;
  margin-top: 0;
  background: lighten( $sidebar, 2%);
}

// multi company
.data-block__multi {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "company rating"
    "company status";
  .datum {
    color: darken($text, 10%);
  }
  .rating {
    padding: 0;
  }
  .status {
    padding: 0;
  }

}
.company-block {
  margin-bottom: 0 !important;
  cursor: pointer;
  border-left: 1px solid #fff;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "company rating"
    "company status";
  .datum {
    padding-left: 0.25rem;
  }
  &:hover {
    border-left: 1px solid $link;
    background: lighten( $sidebar, 2%);
  }
  &.company__open {
    border-left: 1px solid $link;
    background: lighten( $sidebar, 2%);
  }
  .company-header {
    padding-bottom: 0.5rem;
  }
}

.sector-block {
  margin-bottom: 0.75rem;
  cursor: pointer;
  border-left: 1px solid #fff;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "company rating"
    "company status";
  > .datum {
    font-size: 0.9rem;
  }
  .datum {
    padding-left: 0.25rem;
  }
  > li > .datum {
    font-size: 1rem;
  }
  &:hover {
    border-left: 1px solid $link;
    background: lighten( $sidebar, 2%);
  }
  &.sector__open {
    background: lighten( $sidebar, 2%);
    border-left: 1px solid $link;
  }
  &.company__open {
    border-left: 1px solid $link;
    background: lighten( $sidebar, 2%);
  }
  .company-header {
    padding-bottom: 0.5rem;
  }
  li.stats {
    display: none;
  }
  li.stats__open {
    display: block;
    margin-top: 0;
    background-color: $sidebar;
  }
}

.full-ratings {
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
}

/// table bull ///////
.eqdatatable table {
  border-top: 1px solid $link;
  border-bottom: 1px solid #999;
  font-size: 0.75rem;
  th {
    font-weight: 600;
  }
  .sector {
    background: lighten( $sidebar, 2%);
  }
  .sector td:first-child {
    padding-left: 0.25rem;
    border-left: 1px solid $link;
  }
}

/// svg bull /////////
// doesnt work
.sidenav.related svg .icn-stroke {
  stroke: $orange;
  fill: red;
}