@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');
@import "imports/variables";
@import "imports/fonts-local";
@import "imports/mixins";
@import "imports/elements";
@import "imports/structure";
@import "imports/pullquote";
@import "imports/footnotes";
@import "imports/sidebyside";
@import "imports/meta";
@import "imports/article-body";
@import "imports/tables";
@import "imports/figures";
@import "imports/aside";
@import "imports/byline";
@import "imports/popovers";
@import "imports/previous-next-links";
@import "imports/quick-take";
@import "imports/svg";
@import "imports/toc";
@import "imports/timeline";
@import "imports/multipart-list";

@import "imports/multimedia";
@import "imports/related-research";

html.zoomed {
  font-size: 120%;
}

// global ratings > all three components

$sidebar: rgba(229,248,255,05);

.ratings {
  > ul {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    padding: 0;
  }
  p {
    margin:0;
    line-height: 1.1;
  }
  .datum {
    font-weight: 500;
    color: #444;
    font-size: 0.875rem;
  }
  .rating {
    font-size: 0.875rem;
    text-align: right;
  }
  .status {
    font-size: 0.75rem;
    color: #666;
    grid-column: 1 / span 2;
    text-align: right;
    padding-top: 0.25rem;
  }
  button {
    margin-top: 1rem;
    background-color: $link;
    color: #fff;
    padding: 0.35rem;
    border-radius: 3px;
    border: none;
    font-weight: 700;
  }
  li {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 20px;
    // margin-bottom: 0.5rem;
  }
}

// data-block
.data-block {
  li.sources {
    display: block;
    font-size: 0.75rem;
  }
  li:nth-child(n+4){
    opacity: 1;
    max-height: 300px;
    // overflow: auto;
    grid-template-rows: auto;
  }
  li:nth-child(4),
  li:nth-child(7),
  li:nth-child(16) {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px dashed #999;
  }
  li:nth-child(19) {
    // margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #999;
  }
}

li.stats {
  display: block;
}

li.stats .data-block {
  display: none;
  padding-bottom: 1rem;
}
li.stats__open .data-block {
  display: block;
  margin-top: 0;
  padding: 0.25rem;
  background: lighten( $sidebar, 2%);
}

// multi company
.company-block {
  padding: 0.25rem;
  &:hover {
    border-left: 1px solid $link;
    background: lighten( $sidebar, 2%);
  }
  &.company__open {
    border-left: 1px solid $link;
    background: lighten( $sidebar, 2%);
  }
  .company-header {
    padding-bottom: 0.5rem;
  }
}
.data-block__multicompany li {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0.5rem;
}
p.full-ratings {
  font-size: 0.875rem;
  line-height: 1.5;
}

.data-block__multicompany li.stats  {
  display: block;
  margin-bottom: 0;
}

// multi sector
.sector-block {
  padding-left: 0;
  padding: 0.25rem;
  cursor: pointer;
  border-left: 1px solid #fff;
  &:hover {
    background: lighten( $sidebar, 2%);
    border-left: 1px solid $link;
  }
  &.sector__open {
    background: lighten( $sidebar, 2%);
    border-left: 1px solid $link;
  }
}
.sector-block > li > .datum {
  font-size: 1rem;
}
.sector-block li.stats {
  display: none;
  // padding-bottom: 1rem;
}
.sector-block li.stats__open {
  display: block;
  margin-top: 0;
  // padding-left: 0.5rem;
  background-color: $sidebar;
}

.data-block__multisector .company-block li,
.data-block__multisector .stats {
  margin-bottom: 0;
}

/// table bull
.eqdatatable table {
  border-top: 1px solid $link;
  border-bottom: 1px solid #999;
  font-size: 0.75rem;
  th {
    font-weight: 600;
  }
  .sector {
    background: lighten( $sidebar, 2%);
  }
  .sector td:first-child {
    padding-left: 0.25rem;
    border-left: 1px solid $link;
  }
}
