// global ratings > all three components

$sidebar: rgba(229, 248, 255, 05);

// single company grid
.data-block ul,
// header data block ONLY in multi company
.data-block__multi,
// company header data block in multi company
.company-block,
.sector-block {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'company rating'
    'company status';
  &.company__open {
    border-left: 1px solid lighten($link, 50%);
    background: lighten($sidebar, 4%);
  }
}

.ratings {
  > ul {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  li {
    margin-bottom: 0;
  }
  .datum {
    grid-area: company;
    font-weight: 500;
    color: #444;
    font-size: 0.875rem;
    line-height: 1.3;
  }
  .rating {
    grid-area: rating;
    font-size: 0.875rem;
    text-align: right;
  }
  .status {
    grid-area: status;
    font-size: 0.75rem;
    color: #666;
    grid-column: 1 / span 2;
    text-align: right;
  }
  button {
    background-color: $link;
    color: #fff;
    padding: 0.35rem;
    border-radius: 3px;
    border: none;
    font-weight: 700;
  }
}

// company data-block
.data-block {
  ul {
    margin-bottom: 0.5rem;
  }
  ul.price-target {
    grid-template-areas:
      'company rating'
      'status status';
  }
  .sources {
    font-size: 0.75rem;
    padding-left: 0.5rem;
  }
  img {
    border: 1px solid $gray25;
    margin: 0.25rem;
    max-width: 94%;
  }
  ul:nth-child(4),
  ul:nth-child(7),
  ul:nth-child(16) {
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    border-top: 1px dashed $gray25;
  }
}
// when the company data is displayed
.stats {
  grid-column: 1/3;
}
.stats .data-block {
  display: none;
  // opacity: 0;
  // max-height: 0px;
  transition: all 0.25s linear;
  padding-bottom: 0.5rem;
}
.stats__open .data-block {
  display: block;
  // opacity: 1;
  // max-height: 2000px;
  margin-top: 0.5rem;
  background: lighten($sidebar, 4%);
}

// multi company topmost
.data-block__multi {
  margin-top: 0.5rem;
  .datum {
    color: darken($text, 20%);
  }
  .rating {
    padding: 0;
  }
  .status {
    padding: 0;
  }
}

.company-block {
  cursor: pointer;
  border-left: 1px solid #fff;
  &:hover {
    border-left: 1px solid $link;
    background: lighten($sidebar, 2%);
  }
}

.ratings .data-block__multisector {
  padding-left: 0;
  padding-right: 0;
}

.data-block__multisector {
  .sector-block {
    margin-bottom: 0.75rem;
    cursor: pointer;
    border-left: 1px solid #fff;
    padding: 0.25rem;
    > .datum {
      font-size: 0.9rem;
    }
    .datum {
      font-weight: 600;
    }
    > li > .datum {
      font-size: 1rem;
    }
    &:hover,
    &.sector__open {
      border-left: 1px solid $link;
      background: lighten($sidebar, 2%);
    }
    li.stats {
      display: none;
    }
    li.stats__open {
      display: block;
      margin-top: 0;
      padding-top: 0.5rem;
      .company-block {
        padding-bottom: 0.5rem;
      }
    }
  }
}

// para at bottom pointing to full ratings
.full-ratings {
  font-size: 0.875rem;
}

/// table bull ///////
.eqdatatable table {
  border-top: 1px solid $link;
  border-bottom: 1px solid #999;
  font-size: 0.75rem;
  th {
    font-weight: 600;
  }
  .sector {
    background: lighten($sidebar, 2%);
  }
  .sector td:first-child {
    padding-left: 0.25rem;
    border-left: 1px solid $link;
  }
}

// added from main file

.has-overlay {
  article {
    // display: none !important;
  }
}

.eqchart-page {
  font-size: 0.875rem;
  .header,
  .subheader {
    font-size: 0.875rem;
    padding: 0.25rem;
    span {
      float: right;
    }
  }
  .header {
    font-weight: 700;
    color: #fff;
    background-color: $cyan;
  }
  .subheader {
    background-color: #f4f1ef;
  }
  thead {
    border-top: 0.75rem solid #fff;
  }
  th,
  td {
    text-align: right;
  }
  th {
    color: $text;
  }
  td:first-child {
    text-align: left;
  }
  th:first-child {
    text-align: left;
  }
  .curr {
    background-color: #f4f1ef;
  }
}

.eq-page-two-side {
  .img {
    width: 240px;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    p {
      margin-bottom: 0.5rem;
    }
  }
  img {
    // border: 1px solid $gray25;
  }
  .testlist:first-child {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0 0.25rem;
  }
  .testlist {
    padding: 0.25rem;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    li {
      padding-right: 1rem;
      margin-bottom: 0;
    }
  }
  p {
    margin: 0;
  }
}
