// branding categories
.core .multipart-list {
  border-top-color: $core;
  border-bottom-color: $core;
  .multipart-head {
    h1 a {
      color: $core;
    }
    svg.icn {
      fill: $core;
    }
    svg.circle {
      stroke: $core;
    }
  }
}

.focus .multipart-list {
  border-top-color: $focus;
  border-bottom-color: $focus;
  .multipart-head {
    h1 a {
      color: $focus;
    }
    svg.icn {
      fill: $focus;
    }
    svg.circle {
      stroke: $focus;
    }
  }
}

.signature .multipart-list {
  border-top-color: $signature;
  border-bottom-color: $signature;
  .multipart-head {
    h1 a {
      color: $signature;
    }
    svg.icn {
      fill: $signature;
    }
    svg.circle {
      stroke: $signature;
    }
  }
}

.multipart-list {
  border-top: 3px solid;
  border-bottom: 3px solid;
  line-height: 1.35;
  margin-top: 3rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  // not when inside certs-disclosures div
  // margin-right: 1rem;

  .circle {
    fill: transparent;
    position: absolute;
  }

  &.yml {
    border-color: $orange;
    h1 {
      color: $orange;
    }
  }
  &.gew {
    border-color: #009e9e;
    h1 {
      color: #009e9e;
    }
  }
  //header
  .multipart-head {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    line-height: 1.1;
    position: relative;

    .pub-title {
      width: 84%;
    }

    button {
      margin-left: 0;
      margin-top: 0.75rem;
    }

    svg {
      width: 2.25rem;
      height: 2.25rem;
      padding-right: 0.25rem;
    }
    date {
      display: inline-block;
      font-size: 0.75rem;
      margin-left: auto;
      @media (min-width: $break-two) {
        width: 100%;
      }
    }
    h1 {
      color: $focus;
      font-weight: 600;
      font-size: 1.15rem;
    }
  }
  // lists
  ul {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
  }
  .art,
  .art-link,
  .art-sublink {
    font-size: 0.875rem;
    line-height: 1.1;
    margin-bottom: 0.25rem;
  }
  .art {
    font-size: 0.875rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    color: $text;
  }
  .date {
    font-size: 0.75rem;
    color: #666;
  }
  .art-sublink {
    a {
      color: $text;
    }
  }
}

// at the bottom
.content__article-body .multipart-list {
  margin-right: 0;
  flex-wrap: nowrap;

  .pub-title {
    width: auto;
  }
  .multipart-head {
    margin-bottom: 0.75rem;
    button {
      margin-top: 0;
      margin-left: auto;
    }
  }
  .art {
    margin-top: 0;
  }

  .multipart-items {
    ul {
      break-inside: avoid;
      margin-bottom: 1rem;
    }
    @media (min-width: $break-one) {
      columns: 1;
    }
    @media (min-width: $break-two) {
      columns: 2;
      column-gap: 1.75rem;
    }
    @media (min-width: $break-three) {
      columns: 3;
      column-gap: 1.75rem;
    }
  }
}
