.multimedia {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  audio {
    width: 100%;
  }
  .video-frame {
    &:focus {
      outline: none;
    }
  }
  .audio-frame {
    &:focus {
      outline: none;
    }
  }
}