.svg-star {
	font-size: 0.875rem;
    color: #666;
    white-space: nowrap;
    order: 2;
    width: 100%;
    @media (min-width: $break-three){
        padding-top: 0.5rem;
        order: 2;
    }
    svg.icn {
        height: .9em;
    }
}